/**
* Author: Quazi Rafid Ibrahim, Frank Su
* main style.css sheet
*
*/

/* -------------------------------------------
    Root style
----------------------------------------------*/

body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
}
  
a {
    color: white;
    text-decoration: none;
}
  
a:hover {
    color: #FF385C !important;
    text-decoration: none;
}

a:visited{
    color: white;
}
  
h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
}

/* -------------------------------------------
    Header & Navigation
----------------------------------------------*/

header{
    background-color: #111111 !important;
}

.fixed-top{
    background-color: black !important;
}

.logotxt{
    color:white;
    text-decoration: none;
    line-height: 2em;
    margin-left: 15%
}

.logoimg{
    width:100% !important;
    max-height: 80px;
    max-width: 80px;
}

nav {
    margin: 0;
    overflow: hidden;
}

nav ul {
    margin:0;
    padding:0;
}

nav ul li {
    display: inline-block;
    border:1px solid;
   
}

nav ul li a {
    color: white;
    padding: 0.5em 0.5em;
    display:block;
    text-decoration: none;

}

.navbar{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end !important;
    padding-top: .5em;
    padding-bottom: .5em;
}

div.container .d-flex{
    max-width: fit-content;
    margin:0;

}

/*  Header & Navigation (Mobile) */

@media only screen and (min-width: 375px) and (max-width: 767px) 
{ 
    .logoimg{
        display: none !important;
    }
    #mp4Video{
        display:none;
    }
}

/* -------------------------------------------
    Buttons
----------------------------------------------*/

/* navbar buttons */

.navbar .login-btn{
    border:2px #FF385C solid;
    border-radius: 30px;
    
}

.navbar .login-btn:hover{
    background: #FF385C;
}

.navbar .login-btn a:hover{
    color:white !important;
    font-weight: 400;
}

.navbar .login-block{
    display:inline-block;
}


/* -------------------------------------------
    Top Video + Search
----------------------------------------------*/

#mp4Video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

  .vidcontent {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }



/* -------------------------------------------
    Footer & Copyright
----------------------------------------------*/
#footer {
    background: #111111;
    padding: 0 0 30px 0;
    color: #fff;
    font-size: 14px;
  }

#footer .copyright {
    text-align: center;
    padding-top: 30px;
}


