/**
* Author: Quazi Rafid Ibrahim, Frank Su
* main style.css sheet
*
*/

/* -------------------------------------------
    Root style
----------------------------------------------*/

html,body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
    height:100%;
}
  
a {
    color: white;
    text-decoration: none;
}
  
a:hover {
    color: #FF385C !important;
    text-decoration: none;
}

a:visited{
    color: white;
}
  
h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
}

#main{
    padding-top: 88px;
    padding-bottom: 88px;
    overflow: hidden;
    height:100%;
}

/* -------------------------------------------
    Header & Navigation
----------------------------------------------*/

.fixed-top{
    background-color: #111111 !important;
}

.logotxt{
    color:white;
    text-decoration: none;
    line-height: 2em;
    margin-left: 15%
}

.logoimg{
    width:100% !important;
    max-height: 80px;
    max-width: 80px;
}

nav {
    margin: 0;
    overflow: hidden;
}

nav ul {
    margin:0;
    padding:0;
    display:flex;
    list-style: none;
    align-items:center;
}

nav ul li {
    display: inline-block;
    border:1px solid;
}

nav ul li a {
    color: white;
    padding: 0.5em 0.5em;
    display:block;
    text-decoration: none;
}

.navbar{
    padding-top: .5em;
    padding-bottom: .5em;
}


/*  Header & Navigation (Mobile) */
.mobile-nav-toggle {
    color: #fff;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
  }

  @media (max-width: 991px) {
    .mobile-nav-toggle {
      display: block;
    }
    .navbar ul {
      display: none;
    }
  }

/* -------------------------------------------
    Buttons
----------------------------------------------*/

/* navbar buttons */

#pinkbg{
    color: #fff;
    background-color: #FF385C;
    border-color: #FF385C;
}

.navbar .login-btn{
    border:2px #FF385C solid;
    border-radius: 30px;
}

.navbar .login-btn:hover{
    background: #FF385C;
}

.navbar .login-btn a:hover{
    color:white !important;
    font-weight: 400;
}

.input-group-text select {
    word-wrap: normal;
    border: none;
    background: #E9ECEF;
}

/* -------------------------------------------
    Top Video + Search
----------------------------------------------*/

#mp4Video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
    width: auto;
    height: auto;
    background-size: cover;
    overflow: hidden;
}

.vidcontent {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;

}

/*
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  mix-blend-mode: overlay;
  z-index: -1;
  opacity: 0.5;
}
*/

/* -------------------------------------------
    Footer & Copyright
----------------------------------------------*/
#footer {
    background: #111111;
    padding: 0 0 30px 0;
    color: #fff;
    font-size: 14px;
}

#footer .copyright {
    text-align: center;
    padding-top: 30px;
}


